@charset "UTF-8";


#ligar{
    background-color: rgb(76, 255, 5);
    width: 2.5cm;
    height: 1cm;
    border-color: rgb(0, 136, 255);
}
#desligar{
    background-color: rgb(240, 59, 59);
    width: 2.5cm;
    height: 1cm;
    border-color: rgb(255, 191, 0);
}



body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 93);
    text-align: center;
    background-color: rgb(100, 179, 152);
    font-size: 1cm;
}
div{
    background-color: rgb(100, 179, 152);
    text-align: center
}